@page "/EmpHome"
@*<div class="main-content">
        <div class="header-content">
            <div class="emp-detail-text">
                Employee Details <div class="emp-count"></div>
            </div>
            <a href="../pages/Homepage.html" class="add-button">
                <img src="../asserts/1.png" width="20" height="20" alt="">Add User
            </a>
        </div>
    </div>*@

<table id="display" class="table">
    <tr>
        <th></th>
        <th> Name</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Start Date</th>
    </tr>
</table>
@code {

}